<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri Ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web Uygulamasının Kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Gezi dolu daha nice günlerle görüşmek dileğiyle.</p>
                <h4 class="card-title">......</h4>
                <h4 class="card-title">İstatistikler</h4>
                <h6>Aktif Rezervasyon Sayınız:</h6>
                <h6>Geçmiş Rezervasyon Sayınız:</h6>
                <h6>Onay Bekleyen Rezervasyon Sayınız:</h6>
                <h6>Toplam Rota Sayısımız:</h6>
                <h6>Rehber Sayısımız:</h6>
                <h6>Toplam Misafir Sayımız:</h6>
                <h6>Ortalama Puanımız:</h6>

            </div>
        </div>
    </div>
</div>

